body{
    font-family: $base-font;
    margin: 0 0;
}
#base-container{
    @extend %base-grid;
    background-color: $background-color;
    color: white;
    padding-left: 10px;
    #header{
        grid-column: 1/4;
        grid-row: 1;
        justify-self: left;
        a{
            text-decoration: none;
            color: white;
        }
    }
    #more{
        justify-self: center;
        grid-column: 5/6;
        background-color: $background-color;
    }
    #pulldown{
        background-color: $background-color;
        ul{
            list-style-type: none;
            li a{
                text-decoration: none;
                color: white;
                font-weight: bold;
                font-size: 20px;
            }
        }
    }
}