#all-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(3, auto);
    grid-auto-rows: auto;
    padding-top: 15px;
    grid-gap: 10px;
    .terr{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, auto);
        justify-content: center;
        text-align: center;
        #number{
            grid-column: 1/-1;
            grid-row: 1;
        }
        #owner{
            grid-column: 1/-1;
            grid-row: 2;
        }
        .map{
            grid-column: 1/-1;
            grid-row: 3;
            width: 230px;
            height: 230px;
            margin: 0 auto;
        }
    }
}