<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ALL of them homie</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4">
</head>

<body>
    {% if all_terr %}
    <div class="row" style="margin: 0 0 ; padding: 0;">

        {% for terr in all_terr %}
        <div class="col-sm-4 text-center">
            <div style="text-align: center;">
                <a class="text-center" href="/{{terr.id}}" style="font-size: 30px; text-decoration: none;">Territory {{ terr.num }}</a>
            </div>
            <div id="map1" style="height: 400px; width: 400px; margin: 0 auto;">
            </div>
            <script>
                function initMap{{terr.id}}() {
                    var latt = ('{{terr.lat_cordinate}}');
                    var lngg = ('{{terr.long_cordinate}}');
                    var uluru = { lat: Number(latt), lng: Number(lngg) };
                    var map = new google.maps.Map(document.getElementById('map1'), {
                        zoom: 16,
                        center: uluru
                    });
                    var marker = new google.maps.Marker({
                        position: uluru,
                        map1: map1
                    });
                }
            </script>
            <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPfjjpbrQSZC09rzr4E7at0AONdo0Rvdk&callback=initMap{{terr.id}}">
            </script>
        </div>
    </div>
    {% endfor %} {% else %}
    <h2>Nothing here </h2>
    {% endif %}
</body>

</html>