<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ALL of them homie</title>
</head>
<body>
    {% block body %}
    <div id="all-container">

                {% for terr in t %}

                    <div class="terr" id="terr{{terr.id}}">
                        <a href="/{{terr.id}}" id="number">Territory {{ terr.num }}</a>
                        <h4 id="owner">{{terr.owner.get_full_name}}</h4>
                        <div class="map" id="map{{terr.id}}">
                        </div>
                        <script>
                            function initMap{{terr.id}}() {
                                var latt = ('{{terr.lat_cordinate}}');
                                var lngg = ('{{terr.long_cordinate}}');
                                var uluru = { lat: Number(latt), lng: Number(lngg) };
                                var map = new google.maps.Map(document.getElementById('map{{terr.id}}'), {
                                    zoom: 16,
                                    center: uluru,
                                    disableDefaultUI: true,
                                    scrollwheel: false,
                                    draggable: false,

                                });
                            }
                        </script>
                        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPfjjpbrQSZC09rzr4E7at0AONdo0Rvdk&callback=initMap{{terr.id}}">
                        </script>
                    </div>
                {% endfor %} 

    </div>
{% endblock body %}
</body>
</html>
</body>

