{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}

<body>
    <!-- Navigation top -->
    <div id="detail-container">
        <div id="map">
            <script>
                function initMap() {
                    var latt = ('{{t.lat_cordinate}}');
                    var lngg = ('{{t.long_cordinate}}');
                    var uluru = { lat: Number(latt), lng: Number(lngg) };
                    var map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 16,
                        center: uluru,
                        //disableDefaultUI: true,
                        styles: [
                            {
                                "featureType": "administrative.land_parcel",
                                "elementType": "labels",
                                "stylers": [
                                    {
                                        "visibility": "off"
                                    }
                                ]
                            },
                            {
                                "featureType": "administrative.neighborhood",
                                "stylers": [
                                    {
                                        "visibility": "off"
                                    }
                                ]
                            },
                            {
                                "featureType": "poi",
                                "elementType": "labels.text",
                                "stylers": [
                                    {
                                        "visibility": "off"
                                    }
                                ]
                            },
                            {
                                "featureType": "poi.business",
                                "stylers": [
                                    {
                                        "visibility": "off"
                                    }
                                ]
                            },
                            {
                                "featureType": "poi.park",
                                "elementType": "labels.text",
                                "stylers": [
                                    {
                                        "visibility": "off"
                                    }
                                ]
                            },
                            {
                                "featureType": "road.local",
                                "elementType": "labels",
                                "stylers": [
                                    {
                                        "visibility": "on"
                                    }
                                ]
                            }
                        ]
                    });
                    var marker = new google.maps.Marker({
                        position: uluru,
                        map: map
                    });
                }
            </script>
            <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPfjjpbrQSZC09rzr4E7at0AONdo0Rvdk&callback=initMap">
            </script>
        </div>
    </div>
    {% load static %}
    
    <div id="terr-info">
        <h3>{{t.sub|capfirst}}</h3>
        <h3>Territory {{t.num|capfirst}}</h3>
        <h5>{{t.owner|capfirst}}</h5>
        <p id="terr-pk" style="display:none;">{{t.pk}}</p>
        <button id="terr-options">Options</button>
        <div id="modal" style="display: none;" class="options">
            <div class="modal-content" id="enter">
                <button id="options-close">&#10006</button>
                <button id="add-street">Add street</button>
                <button id="QR">QR Code</button>
                <div id="street-add" style="display:none;">
                    <form method="post" id="street-add-form">
                        {% csrf_token %}
                        <input type="text">
                        <button type="submit">Submit</button>
                    </form>
                
                
                </div>
                <div id="QR-view" style="display:none;">
                    <img src="{% get_static_prefix %}QR/{{t.pk}}.jpeg">
                </div>
                <div id='response' class="good" style="display:none;">
                    <h3>Information Submitted Succesfully</h3>
                </div>
                <div id='response' class="empty" style="display:none;">
                    <h3>Form can not be completly empty</h3>
                </div>
            </div>

        </div>
    </div>
    <div id="table-container">
        {% for street in t.street_set.all %}
        <div id="table">
            <table>
                <thead>
                    <tr>
                        <th>{{forloop.counter}}</th>
                        <th colspan="3"><a href="{% url 'main:street-details' t.pk street.pk  %}">{{street.name}}</a></th>
                        <th></th>
                    </tr>
                    <tr>
                        <div id="dates">
                            {% for num in street.number_set.all %}
                            <th>Fecha</th>
                            <th id="fecha">{{street.number_set.all.first.date_worked1}}</th>
                            <th id="fecha">{{street.number_set.all.first.date_worked2}}</th>
                            <th id="fecha">{{street.number_set.all.first.date_worked3}}</th>
                            <th></th>
                        </div>
                    </tr>
                    <tr>
                        <th>#</th>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th id="test">Notas</th>
                    </tr>
                </thead>

                <tbody>


                    <tr>
                        <td id="visit-num">{{num.value}}</td>
                        <td id="visit">
                            {{num.visit1}}
                        </td>
                        <td id="visit">
                            {{num.visit2}}
                        </td>
                        <td id="visit">
                            {{num.visit3}}
                        </td>
                        <td id="visit-note">
                            {{num.notes}}
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>



            </table>
            </num>
        </div>
        {% for num in street.number_set.all %}
        <div id="modal" class="bg-modal{{num.pk}}" style="display:none;">
            <div class="modal-content" id="enter">

                <button class="btn" id="btn-close{{num.pk}}">&#10006</button>
                <div id="address">
                    <h3 id="info{{num.pk}}">{{num}} {{street}}</h3>
                    <p id="pk" style="display:none;">{{num.pk}}</p>
                </div>
                <form method="post" id="post-form{{num.pk}}" class="detail-form">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button type="submit">Submit!</button>
                </form>
                <div id="post-result{{num.pk}}" class="result">
                    <div class="good" style="display:none;">
                        <h3>Information Submitted Succesfully</h3>
                    </div>
                    <div class="empty" style="display:none;">
                        <h3>Form can not be completly empty</h3>
                    </div>
                    <div class="bad" style="display:none;">
                        <h3>Error along the way check information and try again</h3>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endfor %}
    </div>
    {% endblock body %}

</body>

</html>